<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Upload File</title>
    </head>
    <body>
        <h1>Upload File</h1>
        <div>
            <div>
                <h2>Upload File</h2>
                <form action="/result" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file"/>
                    <input type="hidden" name="sender_id" value={{sender_id}}/>
                    <input type="submit"/>
                </form>
            </div>
        </div>
    </body>
</html>